@model dynamic

<div class="form-row">
    <div class="form-group col-md-3">
        <label class="control-label">@Model.GetType().GetGenericArguments()[0].Name</label>
    </div>
    <div class="form-group col-md-6">
        <select class="form-control" name="@Model.GetType().GetGenericArguments()[0].Name">
            <option value="0"></option>





            @foreach (var item in Model)
            {
                if (ViewData["Selected"] != null && (item == ViewData["Selected"]))
                {
                    <option selected="" value="@item.ID">@item.Name</option>
                }
                else
                {
                    <option value="@item.ID">@item.Name</option>
                }



            }
        </select>
    </div>
    <div class="form-group col-md-3">
        <input name="button" type="submit" value="OK" class="btn btn-outline-danger btn-block" />
    </div>

    </div>








