@model IEnumerable<VolksKlang.Models.Objekt>

@{
    ViewData["Title"] = "Index";
}

<h1>Objektliste</h1>


<form asp-controller="Objekts" asp-action="Index" method="get">
    <p>
        <input type="text" name="SearchString" value="@ViewBag.search"/>
        <input class="btn btn-primary" type="submit" value="Suchen" />
    </p>
</form>

 
<table class="table">
 
    <tbody>
@foreach (var item in Model) {
        <tr>


            <td>
                VK-PR-<span>@item.ID</span>-<span>@(item.Bezeichnung==null?"":item.Bezeichnung.Kuerzel)</span>
            </td>

            <td>
                @Html.Raw(item.Beschreibung)
            </td>



            <td>
                <a asp-action="Edit" class="btn btn-success" asp-route-id="@item.ID">Bearbeiten</a>

                @if (ViewBag.usr == "p_rath@gmx.at")
                {
                    <a asp-action="Delete" class="btn btn-danger" asp-route-id="@item.ID">Löschen</a>
                }


            </td>


        </tr>
}
    </tbody>
</table>
