@model IEnumerable<VolksKlang.Models.Objekt>

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

 
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Objektbezeichnung)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Beschreibung)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Material)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Abmessungen)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Zustand)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Objektbeschriftung)
            </th>

            <th>
                @Html.DisplayNameFor(model => model.Herkunft.Name)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Objektbezeichnung)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Beschreibung)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Material)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Abmessungen)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Zustand)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Objektbeschriftung)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Herkunft.Name)
            </td>

            <td>
                <a asp-action="Edit" asp-route-id="@item.ID">Edit</a> 
                
        </tr>
}
    </tbody>
</table>
